@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  color:white
}


/* small utility for the hero lettering */
.font-handwriting {
  font-family: cursive;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}